@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}
:root {
  margin: 0;
  background: rgb(227, 184, 255);
  background: linear-gradient(
    90deg,
    rgba(227, 184, 255, 1) 0%,
    rgba(255, 162, 162, 1) 50%,
    rgba(255, 227, 187, 1) 100%
  );
  font-family: 'Pretendard-Regular';
}
*:focus {
  border: none;
}
li{
  list-style-image: url("./images/edit.png") ;
}